
.vs/ProjectEvaluation/monitorutility_testtask.projects.v5
.vs/ProjectEvaluation/monitorutility_testtask.metadata.v5
.vs/MonitorUtility_TestTask/v17/.suo
.vs/MonitorUtility_TestTask/v17/.futdcache.v2
.vs/MonitorUtility_TestTask/DesignTimeBuild/.dtbcache.v2
.vs/MonitorUtility_TestTask/DesignTimeBuild/.dtbcache.v2
.vs/MonitorUtility_TestTask/v17/.suo
